.search-item {
  padding: 10px;
  height: 100px;
  text-align: left;
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
  img {
    width: 70px;
    height: 80px;
  }
  a {
    color:#000;
  }
  .title {
    margin-bottom: 10px;

  }
  .desc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}